<!--HTTP And Directives-->
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<div class="main-wrap">
  <button (click)="loadAll()" type="button" class="btn btn-primary">Load All Comments</button>
  <hr>

  <div class="inner-wrap" *ngFor="let tempData of dataArray" style="margin-bottom: 20px">
    <ul>
      <li>
        <span>Id: {{tempData?.id}}</span>
      </li>
      <li>
        <span>Name : {{tempData?.name}}</span>
      </li>
      <li>
        <span>Email: {{tempData?.email}}</span>
      </li>
    </ul>
    <br>
    <p class="alert alert-primary">
     {{tempData?.body}}
    </p>
  </div>
</div>
